* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 2;
  color: white;
  font-size: 3rem;
}
